---
import Layout from "@/layouts/layout.astro";
import Favos from "@/src/components/favos-list";
---

<Layout title="Favorites">
    <title slot="title">ハム大クロバス | お気に入り</title>
    <meta
        name="description"
        content="お気に入り登録した授業の一覧です"
        slot="description"
    />
    <h2
        class="text-xl font-bold mb-2 text-gray-800 dark:text-gray-200 border-l-4 border-blue-500 pl-2"
    >
        お気に入り授業
    </h2>
    <quotes class="text-gray-600 dark:text-gray-400 mb-5">
        お気に入り登録した授業の一覧です。
        この情報は一つのブラウザのみに対応しています。
    </quotes>
    <Favos client:only="react" />
</Layout>
