---
import { styles } from "@/styles/style";

// 現在のパスを取得
const currentPath = Astro.url.pathname;
---

<header role="banner" class={styles.header.header}>
    <div class={styles.header.container}>
        <div class="md:mb-0">
            <a href="/">
                <h1 class={styles.header.title}>ハム大クロバス</h1>
            </a>
        </div>
        <nav
            role="navigation"
            class="flex gap-4 text-gray-600 dark:text-gray-200"
        >
            <a
                href="/"
                class="relative group text-sm sm:text-base font-medium py-2 px-1"
            >
                <span
                    class="relative z-10 hover:text-black dark:hover:text-white transition-colors duration-200"
                    >投稿</span
                >
                <span
                    class={`absolute bottom-0 left-0 w-full h-0.5 bg-gray-600 dark:bg-gray-400 transform ${currentPath === "/" || currentPath.startsWith("/submit") ? "scale-x-100" : "scale-x-0 group-hover:scale-x-100"} transition-transform duration-200`}
                ></span>
            </a>
            <a
                href="/search"
                class="relative group text-sm sm:text-base font-medium py-2 px-1"
            >
                <span
                    class="relative z-10 hover:text-black dark:hover:text-white transition-colors duration-200"
                    >検索</span
                >
                <span
                    class={`absolute bottom-0 left-0 w-full h-0.5 bg-gray-600 dark:bg-gray-400 transform ${currentPath.startsWith("/search") ? "scale-x-100" : "scale-x-0 group-hover:scale-x-100"} transition-transform duration-200`}
                ></span>
            </a>
        </nav>
    </div>
</header>
