<div
    class="flex fixed top-0 left-0 w-full h-full bg-gray-500 opacity-50 z-50 justify-center items-center"
>
    <div
        class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-gray-900"
    >
    </div>
</div>
